div {
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    line-height: 25px;
}

h1 {
    font-size: 40px;
    color: blueviolet;
    font-family: 'Calibri';
    text-align: center;
    font-weight: bold;
}

h2 {
    font-size: 22px;
    font-family:'Franklin Gothic Medium', Arial Narrow, 'Arial', sans-serif;
    text-align: center;
    font-weight: normal;
}

h3 {
    font-size: 20px;
    color: blueviolet;
    font-weight: bold;
}

span {
    text-decoration: underline;
}